<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <connectionStrings>
    <add name="PropertyDb" connectionString="Data Source=(LocalDB)\\v11.0;AttachDbFilename=|DataDirectory|\Property.mdf;Integrated Security=True" providerName="System.Data.SqlClient" />
  </connectionStrings>
</configuration>